---
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

// the Stack Exchange flair is built around the content-box model
// and doesn't reset the line-height.
.se-flair, .se-flair * {
	box-sizing: content-box;
	line-height: 14.4px;
}

// A citation entry in a blockquote is the attribution
blockquote {
	cite {
	    font-size: $type-size-7;
		&::before {
			content: '\2014 \00A0';
		}
	}
}
