---
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

// the Stack Exchange flair is built around the content-box model
// and doesn't reset the line-height.
.se-flair, .se-flair * {
	box-sizing: content-box;
	line-height: 14.4px;
}

// A citation entry in a blockquote is the attribution
blockquote {
	cite {
	    font-size: $type-size-7;
		&::before {
			content: '\2014 \00A0';
		}
	}
}

// Form dialogs

.form-dialog {
  // undo the blockquote styling we use to build these
  font-style: inherit;
  border-left: none;
  // magnific-popup inline styling
  position: relative;
  padding: 2em;
  width: auto;
  max-width: 500px;
  margin: 0 auto !important;

  .mfp-close {
  	color: $muted-text-color;
  }

  h3:first-child {
  	margin-top: 0em;
  }
}

.contactForm {
  .form-field-valid {
    display: none;
    color: green;
    position: relative;
    float: right;
    margin-right: 0.5em;
    margin-top: -3.5ex;
    z-index: 2;
  }

  :valid + .form-field-valid {
    display: block;
  }

  #stackoverflow_feedback {
    display: none;
  }

  .message-count {
    display: relative;
    float: right;
    margin-top: 1ex;
    margin-right: 1em;
    font-size: .6em;
    color: $muted-text-color;
  }
}